// COLORS | SWATCHES
$color_dark_gray: #383838;
$color_light_gray: #848589;
$color_light_blue: #2ebed6;
$color_lighter_blue: #34d5f0;
$color_dark_white: #cfcfcf;
$color_light_white: #f0f0f0;

// DIMENSIONS
$wrap_width:	980px;