@import "reset";
@import "config";
@import "helper";
@import "modal";
@import "TextboxList";
@import "TextboxList.AutoComplete";


// BASE
html {overflow-y: scroll;}
body {font: 14px "Calibri", "Lucida Sans", Helvetica, Arial, sans-serif; color: $color_light_gray; @include lineargradient($color_light_white, $color_dark_white); background-attachment: fixed;}
    a {text-decoration: none; @include transition(all, 0.15s, ease-out); color: $color_light_blue;}
    a:active {position: relative; top: 1px;}
	a:hover {color: $color_lighter_blue;}
	ul {list-style: none;}
	hr {clear: both}
	hr.thick {border-width: 6px; border-color: #000;}
#container {position: relative; margin: 0 auto; width: $wrap_width; padding: 10px 0 20px 0; opacity: 1; min-height: 800px;}
	.wrap {position: relative; width: $wrap_width;}
// END BASE

// HEADER
	#header {width: 100%; height: 60px; border-top: 3px solid $color_light_blue;
		.wrap {margin: 10px auto;}
		& h1 {font-size: 40px; float: left;
			& a {display: block;}
		}
	}	
	
	// NAV
		#nav {position: absolute; top: -14px; right: 20px;
			& a	{float: left; padding: 10px; @include onecorner(5px, 'bottom', 'left'); @include onecorner(5px, 'bottom', 'right'); background: $color_dark_gray; @include boxshadow(rgba(0, 0, 0, 0.3), 0, 0, 1px); font-weight: bold; text-transform: uppercase;
				&:hover {background: $color_light_blue; color: $color_light_white;}
			}			
		}
	// END NAV
	
// END HEADER



// PAGES	
	.page {position: absolute; top: 0; width: 980px;}
	
	// DASHBOARD
	#dashboard {
		& ul {background: rgba(226, 226, 226, 0.3);
			& li {float: left; margin: 12px;
				& a {width: 260px; height: 160px; display: block; border: 1px solid #ddd; background: $color_light_white; color: $color_light_blue; @include corner(); padding: 20px; font-weight: bold;
					&:hover {background: $color_light_blue; color: $color_light_white; 
						& .timestamp {color: $color_light_white; opacity: 0.6;}
						& .stakeholders {color: $color_light_white;}
					}
					& .title {float: left; font-size: 24px;}
					& .timestamp {float: left; clear: left; font-style: italic; color: $color_dark_gray; opacity: 0.3; font-weight: normal;}
					& .stakeholders-title {color: $color_dark_gray; font-weight: bold; float: left; clear: left; margin: 10px 0 0;}
					& .stakeholders {float: left; clear: left; color: #bbb; font-weight: normal; height: 53px; overflow: hidden;}
					& .additional-stakeholders {float: left; clear: left;}
				}
			}
		}
	}
	
	// END DASHBOARD
	
	// PROJECT
	#project {
		.column {float: left; width: 640px;		
			&.sidebar {width: 300px; margin-left: 20px;}
			& .header {height: 80px; width: 100%;
				& h1 {font-size: 36px; font-weight: bold; line-height: 50px;}
				& .timestamp {position: relative; top: -10px; font-style: italic; color: $color_dark_gray; opacity: 0.3;}
				& .btn-complete {float: right; font-size: 36px; padding: 22px 0 16px 0; width: 300px;}
			}
			& .body {background: $color_light_white; @include corner(); padding: 20px; width: 600px; float: left;}
			&.sidebar .body {width: 260px;}
			
			& .tasks {
				li.task {margin-bottom: 3px; position: relative; float: left; clear: left; left: -20px;
					& .task-details {display: block; width: 590px; padding: 5px; margin-left: 20px; float: left; @include corner(); background: #e9e9e9;}
					&:nth-child(even) .task-details {background: #ececec;}
					&.complete .task-details {background: $color_light_blue; color: $color_light_white;}
					
					& .btn-delete {position: absolute; left: 7px; top: 5px; visibility: hidden; font-weight: bold;}
					&:hover {
						& .btn-delete {visibility: visible;}
					}
					& .title {float: left; margin-left: 5px; width: 370px;}
					& .category {float: left; width: 100px; cursor: pointer;}
					& .is_complete {float: left;}					
					&.complete .is_complete {color: $color_light_white;}
					
					& .mark-as-complete {display: block;}
					& .mark-as-incomplete {display: none;}
					&.complete .mark-as-complete {display: none;}
					&.complete .mark-as-incomplete {display: block;}
				}
				.btn-add-task {float:left; clear: left; width: 590px; display: block; padding: 5px; @include corner(); background: $color_light_blue; color: $color_light_white; text-align: center; font-weight: bold; font-size: 18px; text-shadow: -1px -1px 1px $color_light_blue;
					&:hover {background: $color_lighter_blue;}
				}
			}
			
			& .stakeholders {
				& .title {background: $color_lighter_blue; color: $color_dark_gray; width: 320px; left: -30px; height: 40px; position: relative; text-align: center; line-height: 44px; font-size: 28px; margin-bottom: 10px; font-weight: bold; text-shadow: -1px -1px 1px $color_light_blue;
					& .arrow {width: 0; height: 0; line-height: 0; border-bottom: 7px solid transparent; position: absolute; top: 40px;}
					& .arrow-left {border-right: 10px solid $color_light_blue; left: 0;}
					& .arrow-right {border-left: 10px solid $color_light_blue; left: 310px;}
					
					& .btn-add {color: $color_light_white}
				}
				
				& li {
					.btn-delete {visibility: hidden;}
					&:hover .btn-delete {visibility: visible;}
				}
			}
		}
	}	
	// END PROJECT
	
	// MODAL
		.jqmWindow {background: #fff; @include corner(); @include boxshadow(rgba(0, 0, 0, 0.3), 0, 0, 3px); width: 572px; padding: 0; margin-left: -286px;
			& .header {width: 532px; background: $color_light_blue; color: $color_light_white; @include onecorner(5px, 'top', 'left'); @include onecorner(5px, 'top', 'right'); height: 32px; padding: 5px 20px;
				& h2 {font-size: 26px; font-weight: bold; margin-bottom: 10px; float: left; color: #fff; line-height: 34px;}
				& .btn-close {float: right; position: relative; top: 8px; color: $color_light_white; text-transform: uppercase;
					&:hover {color: #fff;}
				}
			}
			& .body {width: 552px; padding: 20px; float: left;}
			& .field-item {float: left; clear: left;
				& label {float: left; width: 100px; margin-right: 20px; font-weight: bold; text-transform: uppercase; position: relative; top: 19px; font-size: 16px;}
				& label[for=name] {top: 9px;}
				& .textboxlist-bits,
				& .input-field {float: left; @include corner(); border: 1px solid rgba(0, 0, 0, 0.1); width: 400px; padding: 5px; font-size: 14px; @include boxshadow(rgba(0, 0, 0, 0.3), 0, 1px, 2px, inset);}
				
				& .textboxlist-bits {float: none; width: 410px; padding: 0; margin-top: 12px;}
				& .textboxlist-bit {margin: 2px 5px 3px 2px;}
			}

			& .checkbox-grouping {position: relative; top: 17px; font-size: 16px; line-height: 16px; width: 400px;}
			
			& .field-submit {margin: 20px 20px 0 0; float: right;}
			& .btn-add {}
			
			& #dd-category {float: left; margin-top: 18px;}
			& .field-item .input-category {display: none; float: left; width: 250px; margin: 13px 0 0 4px;}
		}	
	// END MODAL
	
// END PAGES


// ICONS
/*
.icon {background: url('/www/resources/imgs/sprite-icons.png') no-repeat; width: 27px; height: 27px; float: left; display: block;}
.icon.icon-wii {background-position: 0 0;}
.icon.icon-ps3 {background-position: -28px 0;}
.icon.icon-xbox360 {background-position: -56px 0;}
.icon.icon-pc {background-position: -84px 0;}
.icon.icon-logo {background-position: 0 -50px; width: 240px; height: 60px;}
*/

// END ICONS	

// BTN
.btn {@include corner(); float: left; padding: 5px 10px 3px 10px; @include lineargradient(#fff, $color_light_white); color: $color_light_blue; font-size: 16px; font-weight: bold; line-height: 20px; text-transform: uppercase; border: 1px solid $color_light_white; @include boxshadow(rgba(0, 0, 0, 0.3), 0, 1px, 2px); text-align: center;
	&:hover {@include lineargradient($color_lighter_blue, $color_light_blue); color: #fff; border-color: $color_lighter_blue;}
	&.disable {cursor: default; opacity: 0.4;
		&:hover {@include lineargradient(#fff, $color_light_white); color: $color_light_blue; border-color: $color_light_white}
		&:active {top: 0;}
	}
}
// END BTN

	

