<p><b>{{projectName}}</b> has been verified by all Stakeholders!</p>
<p><i>OMG! OMG! OMG! This is REALLY HAPPENING!</i></p>

<p>It's about to get serious. Feel free to deploy this bad boy when you are ready.</p>

<b>Do not reply to this email, no one is listening.</b>