<li>
	<a href="#/project/${_id}">
		{{if is_complete}}
		<span class="status">being verified</span>
		{{/if}}
		<span class="title">${name}</span>
		<span class="timestamp">Created ${phui.utils.elapsed_time(created_on)}</span>
		<span class="stakeholders-title">Stakeholders</span>
		<span class="stakeholders">
			{{each stakeholders}}
				${this}<br />
			{{/each}}
		</span>
		<span class="additional-stakeholders">${utils.get_additional_stakeholders_count(stakeholders)}</span>
	</a>
</li>